@font-face {
  font-family: "Bodoni"; /* Nom de la police que vous souhaitez utiliser */
  src: url("../ressources/font/Bodoni_Moda/static/BodoniModa_18pt-Medium.ttf") format("truetype"); /* Chemin vers le fichier de police */
}

@font-face {
  font-family: "Amethysta"; /* Nom de la police que vous souhaitez utiliser */
  src: url("../ressources/font/Amethysta/Amethysta-Regular.ttf") format("truetype"); /* Chemin vers le fichier de police */
}

body {
  margin: 0;
  padding: 0;
  position:relative;
  min-height: 100vh;
}

p {
  font-family: 'Amethysta';
}

h1, h2,h3, h4 {
  font-family: "Bodoni";
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}


h1 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

p, h1, h2,h3, h4 {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
}