.ChoixTheme {
  width: 90%;
  margin: auto;
}

.ChoixTheme .Categorie h2 {
  text-align: start;
  margin-bottom: 0.5em;
}

.ChoixTheme .Conteneur_SousCategorie {
  display: flex;
  flex-wrap: wrap; /* Ajout de la propriété flex-wrap pour permettre le retour à la ligne */
  margin-bottom: 1em;
  gap: 1em;
}