.Content {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  background-image: url("../ressources/Images/fondLogoAccueilCell.png");
  background-repeat: no-repeat;
  background-position: top right;
  font-family: Georgia, Times;
  min-height: 100vh;
}





