.Content {
  display: flex;
  align-items: center;
  justify-content: center; 
  text-align: center;
  flex-direction: column;
  background-color: #fff9f4;
  font-family: Georgia, Times;
  min-height: 100vh;
}

.Content .Page {
  border-radius: 10px;
  background-color: #ffffff;
  min-width: 80%;
  max-width: 80%;
  min-height: 80vh;
  margin: 1em;
  padding-top: 1em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
