.ExercicePrecis {
  min-height: 60vh;
}

.ExercicePrecis .TagList {
  display: flex;
  justify-content: center;
}

.ExercicePrecis .TagList .col_1,
.ExercicePrecis .TagList .col_2 {
  width: 30%;
  gap: 1em;
  display: flex;
}

.ExercicePrecis .TagList .col_2 {
  justify-content: flex-end;
}

.ExercicePrecis .pagination {
  display: flex;
  justify-content: center;
  margin: 3em;
  gap: 0.7em;
}

.ExercicePrecis .intitule {
  margin-top: 3em;
  font-weight: bold;
}

.ExercicePrecis .col_container {
  display: flex;
  justify-content: space-between;
}

.ExercicePrecis .col_1,
.ExercicePrecis .col_2,
.ExercicePrecis .col3 {
  flex-basis: 30%;
}

.ExercicePrecis .tagCliquable {
  margin: 2em;
  display: flex;
  justify-content: center;
}

.ExercicePrecis .Navigation {
  gap: 1em;
}

.ExercicePrecis .Recap {
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.ExercicePrecis .Mascotte::before {
  content: url("../ressources/Images/renart_bouche.png");
}

.ExercicePrecis .Mascotte {
  content: url("../ressources/Images/renart_bouche_fermee_queue_droite.png");
  max-width: 18%;
  max-height: 45vh;
  cursor: pointer;
  position: absolute;
  bottom: 26%;
  left: -2%;
}

.ExercicePrecis .Mascotte:hover {
  content: url("../ressources/Images/renart_bouche.png");
}

.ExercicePrecis .Explication {
  max-width: 33vh; 
  max-height: 35vh;
  border-radius: 5px; 
  background-color: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  text-align: justify; 
  padding: 5px;
  overflow: auto;
  display: inline-block;
}

.ExercicePrecis .Explication .Lien {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
}

.ExercicePrecis .Explication::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.ExercicePrecis .Explication::-webkit-scrollbar-thumb {
  background-color: #F27E19;
  border-radius: 100px;
  max-height: 30px;
}

.ExercicePrecis .Lien a {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #F27E19;
  color: #FFFFFF;
  text-decoration: none;
}

.ExercicePrecis .Lien a:hover {
  background-color: #D1600E;
}

.ExercicePrecis .ExplicationEtLien {
  position: absolute;
  bottom: 60%;
  left: 13%;
  max-width: 20%; 
  max-height: 15%; 
}