.ExerciceDuJour {
  min-height: 60vh;
}

.ExerciceDuJour .TagList {
  display: flex;
  justify-content: center;
}

.ExerciceDuJour .TagList .col_1,
.ExerciceDuJour .TagList .col_2 {
  width: 30%;
  gap: 1em;
  display: flex;
}

.ExerciceDuJour .TagList .col_2 {
  justify-content: flex-end;
}

.ExerciceDuJour .pagination {
  display: flex;
  justify-content: center;
  margin: 3em;
  gap: 0.7em;
}

.ExerciceDuJour .intitule {
  margin-top: 3em;
  font-weight: bold;
}

.ExerciceDuJour .col_container {
  display: flex;
  justify-content: space-between;
}

.ExerciceDuJour .col_1,
.ExerciceDuJour .col_2,
.ExerciceDuJour .col3 {
  flex-basis: 30%;
}

.ExerciceDuJour .tagCliquable {
  margin: 2em;
  display: flex;
  justify-content: center;
}

.ExerciceDuJour .Navigation {
  gap: 1em;
}

.ExerciceDuJour .Recap {
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.ExerciceDuJour .Mascotte::before {
  content: url("../ressources/Images/renart_bouche.png");
}

.ExerciceDuJour .Mascotte {
  content: url("../ressources/Images/renart_bouche_fermee_queue_droite.png");
  max-height: 40%;
  max-width: 300px;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  left: -40px;
}

.ExerciceDuJour .Mascotte:hover {
  content: url("../ressources/Images/renart_bouche.png");
}

.ExerciceDuJour .Recap .Bouton {
  margin-bottom: 2em;
}