.Footer {
  position: relative;
  bottom: 0;
  margin-top: auto;
  display: flex; /* Ajout de cette ligne */
  justify-content: flex-end; /* Aligner le contenu à droite */
  font-family: "Baskerville";
  background-color: #2B5877;
  color: white;
  width: 100%;
  align-items: center;
}

.Footer a:hover {
  text-decoration: underline;
}

.Footer .col {
  width: 33%;
}

.Footer .col-1 {
  box-sizing: border-box;
  padding-left: 5em;
  text-align: left;
}

.Footer .col-1 p {
  font-weight: bold;
  margin-bottom: 0.3em;
}

.Footer .col-1 li {
  padding-bottom: 0.3em;
}

.Footer .col-1 ul {
  padding: 1em 0;
}

.Footer .logo {
  cursor: pointer;
  margin-left: auto;
}


.Footer .logo img {
  max-width: 40%;
  margin-bottom: 1em;
  filter: invert(100%);
}