.NumQuestion {
  border: 2px solid #2B5877;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border 0.15s ease;
}

.NumQuestion.correct {
  border: 2px solid #5CA03B;
}

.NumQuestion.incorrect {
  border: 2px solid #BD0000;
}

.NumQuestion:hover {
  border: 2px solid #F27E19;
}

.NumQuestion.selected {
  border: 2px solid #F27E19;
}
