.QcmQuestion ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.QcmQuestion li {
  cursor: pointer;
  border: 2px solid #2B5877;
  border-radius: 10px;
  width: fit-content;
  padding: 0.5em 1.3em;
  margin-top: 0.7em;
  transition: border 0.15s ease;
}

.QcmQuestion li:hover {
  border: 2px solid #F27E19;
}

.QcmQuestion ul li.correct {
  cursor: default;
  border: 2px solid #5CA03B;
}

.QcmQuestion ul li.incorrect {
  cursor: default;
  border: 2px solid #BD0000;
}

