.SubstitutionQuestion .correct {
    color: hsl(100, 46%, 43%);
    font-weight: bold;
}

.SubstitutionQuestion .incorrect {
    margin-top: 1em;
    color: #BD0000;
}

.SubstitutionQuestion .reponseUtilisateur {
    font-weight: bold;
}


.SubstitutionQuestion.inline-div {
    display: inline;
}


.SubstitutionQuestion p.correction {
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-style: italic;
}

.SubstitutionQuestion p.rep_incorrecte {
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-style: italic;
}

.SubstitutionQuestion .validation {
    display: flex;
    justify-content: center;
}





.SubstitutionQuestion .validation {
    display: flex;
    justify-content: center;
}



/*bouton de validation*/


.SubstitutionQuestion .user-input {
    font-family: inherit;
    width: 100%;
    font-size: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    color: black;
    background: transparent;
    transition: border-color 0.2s;
    max-width: 80%;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
}

.SubstitutionQuestion .button {
    cursor: pointer;
    border: 2px solid #2B5877;
    border-radius: 10px;
    width: fit-content;
    padding: 0.5em 1.3em;
    transition: border 0.15s ease;
    margin-top: 1em;
    color: #2B5877;
}

.SubstitutionQuestion .button:hover {
    border: 2px solid #F27E19;
}

.SubstitutionQuestion div.enonce {
    margin-top: 1em;
    border-radius: 10px;
    background-color: #f9f8f8;
    padding: 40px;
}

.SubstitutionQuestion {
    margin-top: 1em;
}