.Substitution .correct {
    color: hsl(100, 46%, 43%);
    font-weight: bold;
}

.Substitution .incorrect {
    margin-top: 1em;
    color: #BD0000;
}

.Substitution .reponseUtilisateur {
    font-weight: bold;
}


.Substitution.inline-div {
    display: inline;
}


.Substitution p.correction {
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-style: italic;
}

.Substitution p.rep_incorrecte {
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-style: italic;
}

.Substitution .validation {
    display: flex;
    justify-content: center;
}





.Substitution .validation {
    display: flex;
    justify-content: center;
}



/*bouton de validation*/


.Substitution .user-input {
    font-family: inherit;
    width: 100%;
    font-size: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-weight: bold;
    color: black;
    background: transparent;
    transition: border-color 0.2s;
    max-width: 80%;
    margin-bottom: 1em;
    margin-top: 1em;
}

.Substitution .button {
    cursor: pointer;
    border: 2px solid #2B5877;
    border-radius: 10px;
    width: fit-content;
    padding: 0.5em 1.3em;
    transition: border 0.15s ease;
    margin-top: 1em;
}

.Substitution .button:hover {
    border: 2px solid #F27E19;
}

.Substitution div.ennonce {
    margin-top: 1em;
}

.Substitution {
    margin-top: 1em;
}