  .TrouQuestion .correct {
    color: hsl(100, 46%, 43%);
    font-weight: bold;
  }

  .TrouQuestion .incorrect {
    color: #BD0000;
  }

  .TrouQuestion .reponseUtilisateur {
    font-weight: bold;
  }

  .TrouQuestion.inline-div {
    display: inline;
  }

  .TrouQuestion p.correction {
    margin-top: 1em;
    margin-bottom: 1em;
    font-style: italic;
  }

  .TrouQuestion .validation {
    display: flex;
    justify-content: center;
  }
  
  .TrouQuestion input.user-input {
    font-family: inherit;
    width: 100%;
    font-size: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-weight: bold;
    color: black;
    background: transparent;
    transition: border-color 0.2s;
    max-width: 25%;
    margin-bottom: 1em;
  }

  .TrouQuestion .button {
    cursor: pointer;
    border: 2px solid #2B5877;
    border-radius: 10px;
    width: fit-content;
    padding: 0.5em 1.3em;
    transition: border 0.15s ease;
    margin-top: 1em;
  }

  .TrouQuestion .button:hover {
    border: 2px solid #F27E19;
  }

  .TrouQuestion .span.ennonce:hover {
    color: #F27E19;
  }

  .TrouQuestion {
    margin-top: 1em;
  }