.TrouQuestion ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .TrouQuestion li {
    cursor: pointer;
    border: 2px solid #2B5877;
    border-radius: 10px;
    width: fit-content;
    padding: 0.5em 1.3em;
    margin-top: 0.7em;
    transition: border 0.15s ease;
  }
  
  .TrouQuestion li:hover {
    border: 2px solid #F27E19;
  }
  
  .TrouQuestion ul li.correct {
    cursor: default;
    border: 2px solid #5CA03B;
  }
  
  .TrouQuestion ul li.incorrect {
    cursor: default;
    border: 2px solid #BD0000;
  }

  .TrouQuestion div.correct {
    color: #5CA03B;
    font-weight: bold;
  }

  .TrouQuestion div.incorrect {
    color: #BD0000;
  }

  .inline-div {
    display: inline;
  }

  .TrouQuestion p.correction {
    margin-top: 1em;
    margin-bottom: 1em;
    font-style: italic;
  }

.user-input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  max-width: 25%;
}
  
  